<div class="container" style="max-width: 40%">
  <div class="form-group">
    <label>Email address</label>
    <input [(ngModel)]="newUser.email" type="email" class="form-control" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input
      [(ngModel)]="newUser.password"
      type="password"
      class="form-control"
    />
  </div>
  <button (click)="register()" type="submit" class="btn btn-primary">
    Register
  </button>
  <a [routerLink]="['/login']">Click here to login</a>
</div>
